@import "../../../../styles.scss";

mat-sidenav,
mat-sidenav.md-locked-open,
mat-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 300px !important;
}

span {
  font-family: "Montserrat";
  font-weight: 500;
}

mat-sidenav-content {
  height: 100 !important;
}
.example-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

span {
  font-family: "Montserrat";
  font-weight: 500;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 0px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
`<body>` to be our scrolling element for mobile layouts. */
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  font-size: 80%;
  white-space: normal;
}

a:hover {
  background-color: none;
  color: white;
  text-decoration: none;
}

.example-spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

button {
  font-size: 100%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.mat-button {
  font-family: "Montserrat";
}

a {
  font-family: "Montserrat";
  font-weight: 500;
}
