@import "../../../../styles.scss";

p img {
  max-width: 100% !important;
}

.color-accent {
  background-color: mat-color($dark-accent);
}

p {
  max-width: 100%;
  word-break: break-all;
}

span {
  font-family: "Montserrat";
  font-weight: 500;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
